extend layout

block content
  h1 Brand List

  ul(class="list-group")
    each brand in brandList
      li(class="list-group-item")
        a(href=brand.url) #{brand.name}
  
  a(href='/brands/create') Add a new brand of laptop