extend layout

block content
  div
    p You can browse the inventory based on the laptop model, brand, and type.
    p Select on the categories to view your inventory, create new entries, update existing ones, and remove existing one.
  
  if data
    ul
      li Laptops in inventory: !{data.laptop}
      li Brands in inventory: !{data.brand}
      li Types in inventory: !{data.type}