extend layout

block content
  div(class="home")
    h2 Browse inventory per laptop model, brand, and type.

    if data
      table(class="table table-striped table-dark mt-4 w-75 mx-auto")
        thead
          tr
            th(scope="col") Inventory
            th(scope="col") Quantity
        tbody
          tr
            td Total Laptops
            td !{data.laptop}
          tr
            td Per Brand
            td !{data.brand}
          tr
            td Per type
            td !{data.type}