extend layout

block content
  div(class="laptoplist container")
    table(class="table my-4" id="list-comp")
      thead(class="thead-dark")
        tr
          th(scope="col") Model
          th(scope="col") Stock
      tbody
        each laptop in laptopList
          tr
            td
              a(href=laptop.url) #{laptop.name}
            td #{laptop.number_in_stock}
    a(href='/laptop/create' class="font-weight-bold text-light my-4 input-page") Create new laptop